# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

# Don't upload my private key to Github, even though it is encrypted.
*.gpg

# Don't upload the personal instance of x509.genkey
x509.genkey

# Don't track logs
*.log

# Don't track the tmp directory
tmp/

# Don't track the downloaded chroot templates
templates/chroot

# Don't track the generated repo data (packages, etc.)
repository/
